<!DOCTYPE html>
<html lang="en">

<head>
    <title>Zay Shop - Product Listing Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="/resource/assets/img/apple-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="/resource/assets/img/favicon.ico">

    <link rel="stylesheet" href="/resource/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/resource/assets/css/templatemo.css">
    <link rel="stylesheet" href="/resource/assets/css/custom.css">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="/resource/assets/css/fontawesome.min.css">
    <!--
    
TemplateMo 559 Zay Shop

https://templatemo.com/tm-559-zay-shop

-->
</head>

<body>

    <!-- Start Top Nav -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top">
        <div class="container text-light">
            <div class="w-100 d-flex justify-content-between">
                <div>
                    <i class="fa fa-envelope mx-2"></i>
                    <a class="navbar-sm-brand text-light text-decoration-none"
                        href="mailto:info@company.com">info@company.com</a>
                    <i class="fa fa-phone mx-2"></i>
                    <a class="navbar-sm-brand text-light text-decoration-none" href="tel:010-020-0340">010-020-0340</a>
                </div>
                <div>
                    <a class="text-light" href="https://fb.com/templatemo" target="_blank" rel="sponsored"><i
                            class="fab fa-facebook-f fa-sm fa-fw me-2"></i></a>
                    <a class="text-light" href="https://www.instagram.com/" target="_blank"><i
                            class="fab fa-instagram fa-sm fa-fw me-2"></i></a>
                    <a class="text-light" href="https://twitter.com/" target="_blank"><i
                            class="fab fa-twitter fa-sm fa-fw me-2"></i></a>
                    <a class="text-light" href="https://www.linkedin.com/" target="_blank"><i
                            class="fab fa-linkedin fa-sm fa-fw"></i></a>
                </div>
            </div>
        </div>
    </nav>
    <!-- Close Top Nav -->


    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-light shadow">
        <div class="container d-flex justify-content-between align-items-center">

            <a class="navbar-brand text-success logo h1 align-self-center" href="/index">
                Zay
            </a>

            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse"
                data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between"
                id="templatemo_main_nav">
                <div class="flex-fill">
                    <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/store/shop">Shop</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/store/hombre">Hombres</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/store/mujer">Mujeres</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link" href="contact.html">Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar align-self-center d-flex">
                    <div class="d-lg-none flex-sm-fill mt-3 mb-4 col-7 col-sm-auto pr-3">
                        <div class="input-group">
                            <input type="text" class="form-control" id="inputMobileSearch" placeholder="Search ...">
                            <div class="input-group-text">
                                <i class="fa fa-fw fa-search"></i>
                            </div>
                        </div>
                    </div>
                    <a class="nav-icon d-none d-lg-inline" href="#" data-bs-toggle="modal"
                        data-bs-target="#templatemo_search">
                        <i class="fa fa-fw fa-search text-dark mr-2"></i>
                    </a>
                    <a class="nav-icon position-relative text-decoration-none" href="#">
                        <i class="fa fa-fw fa-cart-arrow-down text-dark mr-1"></i>
                        <span
                            class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark">7</span>
                    </a>
                    <a class="nav-icon position-relative text-decoration-none" href="#">
                        <i class="fa fa-fw fa-user text-dark mr-3"></i>
                        <span
                            class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark">+99</span>
                    </a>
                </div>
            </div>

        </div>
    </nav>
    <!-- Close Header -->

    <!-- Modal -->
    <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="w-100 pt-1 mb-5 text-right">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="get" class="modal-content modal-body border-0 p-0">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                    <button type="submit" class="input-group-text bg-success text-light">
                        <i class="fa fa-fw fa-search text-white"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <!-- Start Content -->

    <div class="container py-5">
        <div class="row">

            <div class="col-lg-3">
                <h1 class="h2 pb-4">Filtros</h1>
                <ul class="list-unstyled templatemo-accordion">
                    <li class="pb-3">
                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                            Categorías
                            <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                        </a>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="zapatilla"
                                id="pf_c_categoria-zapatilla">
                            <label class="form-check-label" for="zapatilla">
                                Zapatillas
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="sandalia"
                                id="pf_c_categoria-sandalia">
                            <label class="form-check-label" for="sandalia">
                                Sandalias
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="polera"
                                id="pf_c_categoria-polera">
                            <label class="form-check-label" for="polera">
                                Poleras
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="polo"
                                id="pf_c_categoria-polo">
                            <label class="form-check-label" for="polo">
                                Polos
                            </label>
                        </div>
                    </li>
                    <li class="pb-3">
                        
                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                            Marca
                            <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
                        </a>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="adidas" id="pf_m_marca-adidas">
                            <label class="form-check-label" for="adidas">
                                Adidas
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="converse" id="pf_m_marca-converse">
                            <label class="form-check-label" for="converse">
                                Converse
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="champion" id="pf_m_marca-champion">
                            <label class="form-check-label" for="champion">
                                Champion
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="dc-shoes" id="pf_m_marca-dc-shoes">
                            <label class="form-check-label" for="dc-shoes">
                                DC Shoes
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="dunkelvolk" id="pf_m_marca-dunkelvolk">
                            <label class="form-check-label" for="dunkelvolk">
                                Dunkelvolk
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="fox" id="pf_m_marca-fox">
                            <label class="form-check-label" for="fox">
                                Fox
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="new-balance" id="pf_m_marca-new-balance">
                            <label class="form-check-label" for="new-balance">
                                New Balance
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="quiksilver" id="pf_m_marca-quiksilver">
                            <label class="form-check-label" for="quiksilver">
                                Quiksilver
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="reef" id="pf_m_marca-reef">
                            <label class="form-check-label" for="reef">
                                Reef
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="roxy" id="pf_m_marca-roxy">
                            <label class="form-check-label" for="roxy">
                                Roxy
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="vans" id="pf_m_marca-vans">
                            <label class="form-check-label" for="vans">
                                Vans
                            </label>
                        </div>
                        
                    </li>
                    <li class="pb-3">
                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                            Tallas
                            <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                        </a>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="t39"
                                id="pf_t_talla-t39">
                            <label class="form-check-label" for="t39">
                                39
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="t40"
                                id="pf_t_talla-t40">
                            <label class="form-check-label" for="t40">
                                40
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="t41"
                                id="pf_t_talla-t41">
                            <label class="form-check-label" for="t41">
                                41
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="t42"
                                id="pf_t_talla-t42">
                            <label class="form-check-label" for="t42">
                                42
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="ts"
                                id="pf_t_talla-ts">
                            <label class="form-check-label" for="ts">
                                S
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="tm"
                                id="pf_t_talla-tm">
                            <label class="form-check-label" for="tm">
                                M
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="tl"
                                id="pf_t_talla-tl">
                            <label class="form-check-label" for="tl">
                                L
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="txl"
                                id="pf_t_talla-txl">
                            <label class="form-check-label" for="txl">
                                XL
                            </label>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="col-lg-9" >
                <div class="row">
                    <a class="collapsed d-flex justify-content-between h5 text-decoration-none" href="#">
                        Ordenar por
                    </a>
                    <div class="col-md-6 pb-4">
                        <div class="d-flex">
                            <select class="form-control" id="sortOrder">
                                <option value="">Ordenar por</option>
                                <option value="price-asc">Precio (Ascendente)</option>
                                <option value="price-desc">Precio (Descendente)</option>
                                <option value="name-asc">Nombre (A-Z)</option>
                                <option value="name-desc">Nombre (Z-A)</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row" id="productos">
                    <% results.forEach((productos)=> { %>

                        <div class="col-md-4">
                            <div class="card mb-4 product-wap rounded-0">
                                <div class="card rounded-0">
                                    <img class="card-img rounded-0 img-fluid"
                                        src="/resource/img/product/<%=productos.imagen %>" alt="<%=productos.imagen %>">
                                    <div
                                        class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                        <ul class="list-unstyled">
                                            <li><a class="btn btn-success text-white"
                                                    href="/detail/<%=productos.slug %>"><i class="far fa-heart"></i></a>
                                            </li>
                                            <li><a class="btn btn-success text-white mt-2"
                                                    href="/detail/<%=productos.slug %>"><i class="far fa-eye"></i></a>
                                            </li>
                                            <li><a class="btn btn-success text-white mt-2"
                                                    href="/detail/<%=productos.slug %>"><i
                                                        class="fas fa-cart-plus"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <a href="/store/mujer/product/<%=productos.slug %>" class="h3 text-decoration-none">
                                        <%=productos.nombre%>
                                    </a>
                                    <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                                        <li>M/L/X/XL</li>
                                        <li class="pt-2">
                                            <span
                                                class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                                            <span
                                                class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                                            <span
                                                class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                                            <span
                                                class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                                            <span
                                                class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                                        </li>
                                    </ul>
                                    <ul class="list-unstyled d-flex justify-content-center mb-1">
                                        <li>
                                            <i class="text-warning fa fa-star"></i>
                                            <i class="text-warning fa fa-star"></i>
                                            <i class="text-warning fa fa-star"></i>
                                            <i class="text-muted fa fa-star"></i>
                                            <i class="text-muted fa fa-star"></i>
                                        </li>
                                    </ul>
                                    <p class="text-center mb-0">S/. <%=productos.precio%>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <% }) %>
                </div>

                <div class="row">
                    <ul class="pagination justify-content-end">
                        <li class="page-item <%= currentPage === 1 ? 'disabled' : '' %>">
                            <a class="page-link" href="?page=<%= currentPage - 1 %>" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <% for (let i = 1; i <= totalPages; i++) { %>
                            <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                                <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                            </li>
                        <% } %>
                        <li class="page-item <%= currentPage === totalPages ? 'disabled' : '' %>">
                            <a class="page-link" href="?page=<%= currentPage + 1 %>" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                    
                    <!-- <ul class="pagination pagination-lg justify-content-end">
                        <% for (let i=1; i <=totalPages; i++) { %>
                            <% if (currentPage===i) { %>
                                <li class="page-item active">
                                    <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0"
                                        href="?page=<%= i %>">
                                        <%= i %>
                                    </a>
                                </li>
                                <% } else { %>
                                    <li class="page-item">
                                        <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark"
                                            href="?page=<%= i %>">
                                            <%= i %>
                                        </a>
                                    </li>
                                    <% } %>
                                        <% } %>
                    </ul> -->
                </div>
            </div>

        </div>
    </div>

    <!-- End Content -->

    <!-- Start Brands -->
    <section class="bg-light py-5">
        <div class="container my-4">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1">Our Brands</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        Lorem ipsum dolor sit amet.
                    </p>
                </div>
                <div class="col-lg-9 m-auto tempaltemo-carousel">
                    <div class="row d-flex flex-row">
                        <!--Controls-->
                        <div class="col-1 align-self-center">
                            <a class="h1" href="#multi-item-example" role="button" data-bs-slide="prev">
                                <i class="text-light fas fa-chevron-left"></i>
                            </a>
                        </div>
                        <!--End Controls-->

                        <!--Carousel Wrapper-->
                        <div class="col">
                            <div class="carousel slide carousel-multi-item pt-2 pt-md-0" id="multi-item-example"
                                data-bs-ride="carousel">
                                <!--Slides-->
                                <div class="carousel-inner product-links-wap" role="listbox">

                                    <!--First slide-->
                                    <div class="carousel-item active">
                                        <div class="row">
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img"
                                                        src="/resource/assets/img/brand_01.png" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img"
                                                        src="/resource/assets/img/brand_02.png" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img"
                                                        src="/resource/assets/img/brand_03.png" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img"
                                                        src="/resource/assets/img/brand_04.png" alt="Brand Logo"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End First slide-->

                                    <!--Second slide-->
                                    <div class="carousel-item">
                                        <div class="row">
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img"
                                                        src="/resource/assets/img/brand_01.png" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img"
                                                        src="/resource/assets/img/brand_02.png" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img"
                                                        src="/resource/assets/img/brand_03.png" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img"
                                                        src="/resource/assets/img/brand_04.png" alt="Brand Logo"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End Second slide-->

                                    <!--Third slide-->
                                    <div class="carousel-item">
                                        <div class="row">
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img"
                                                        src="/resource/assets/img/brand_01.png" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img"
                                                        src="/resource/assets/img/brand_02.png" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img"
                                                        src="/resource/assets/img/brand_03.png" alt="Brand Logo"></a>
                                            </div>
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img"
                                                        src="/resource/assets/img/brand_04.png" alt="Brand Logo"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--End Third slide-->

                                </div>
                                <!--End Slides-->
                            </div>
                        </div>
                        <!--End Carousel Wrapper-->

                        <!--Controls-->
                        <div class="col-1 align-self-center">
                            <a class="h1" href="#multi-item-example" role="button" data-bs-slide="next">
                                <i class="text-light fas fa-chevron-right"></i>
                            </a>
                        </div>
                        <!--End Controls-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Brands-->


    <!-- Start Footer -->
    <footer class="bg-dark" id="tempaltemo_footer">
        <div class="container">
            <div class="row">

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-success border-bottom pb-3 border-light logo">Zay Shop</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li>
                            <i class="fas fa-map-marker-alt fa-fw"></i>
                            123 Consectetur at ligula 10660
                        </li>
                        <li>
                            <i class="fa fa-phone fa-fw"></i>
                            <a class="text-decoration-none" href="tel:010-020-0340">010-020-0340</a>
                        </li>
                        <li>
                            <i class="fa fa-envelope fa-fw"></i>
                            <a class="text-decoration-none" href="mailto:info@company.com">info@company.com</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-light border-bottom pb-3 border-light">Products</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li><a class="text-decoration-none" href="#">Luxury</a></li>
                        <li><a class="text-decoration-none" href="#">Sport Wear</a></li>
                        <li><a class="text-decoration-none" href="#">Men's Shoes</a></li>
                        <li><a class="text-decoration-none" href="#">Women's Shoes</a></li>
                        <li><a class="text-decoration-none" href="#">Popular Dress</a></li>
                        <li><a class="text-decoration-none" href="#">Gym Accessories</a></li>
                        <li><a class="text-decoration-none" href="#">Sport Shoes</a></li>
                    </ul>
                </div>

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-light border-bottom pb-3 border-light">Further Info</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li><a class="text-decoration-none" href="#">Home</a></li>
                        <li><a class="text-decoration-none" href="#">About Us</a></li>
                        <li><a class="text-decoration-none" href="#">Shop Locations</a></li>
                        <li><a class="text-decoration-none" href="#">FAQs</a></li>
                        <li><a class="text-decoration-none" href="#">Contact</a></li>
                    </ul>
                </div>

            </div>

            <div class="row text-light mb-4">
                <div class="col-12 mb-3">
                    <div class="w-100 my-3 border-top border-light"></div>
                </div>
                <div class="col-auto me-auto">
                    <ul class="list-inline text-left footer-icons">
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="http://facebook.com/"><i
                                    class="fab fa-facebook-f fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank"
                                href="https://www.instagram.com/"><i class="fab fa-instagram fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://twitter.com/"><i
                                    class="fab fa-twitter fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank"
                                href="https://www.linkedin.com/"><i class="fab fa-linkedin fa-lg fa-fw"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-auto">
                    <label class="sr-only" for="subscribeEmail">Email address</label>
                    <div class="input-group mb-2">
                        <input type="text" class="form-control bg-dark border-light" id="subscribeEmail"
                            placeholder="Email address">
                        <div class="input-group-text btn-success text-light">Subscribe</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="w-100 bg-black py-3">
            <div class="container">
                <div class="row pt-2">
                    <div class="col-12">
                        <p class="text-left text-light">
                            Copyright &copy; 2021 Company Name
                            | Designed by <a rel="sponsored" href="https://templatemo.com"
                                target="_blank">TemplateMo</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <!-- End Footer -->

    <!-- Start Script -->
    <script src="/resource/assets/js/jquery-1.11.0.min.js"></script>
    <script src="/resource/assets/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="/resource/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/resource/assets/js/templatemo.js"></script>
    <script src="/resource/assets/js/custom.js"></script>
    <!-- End Script -->

    <script>
        $(document).ready(function () {
            // Obtener los parámetros de la URL
            const urlParams = new URLSearchParams(window.location.search);

            // Marcar los checkboxes según los parámetros de la URL
            markCheckboxes(urlParams);

            // Filtrar los productos
            filterProducts(1);

            // Agregar evento a los checkboxes
            $('input[type="checkbox"]').on('change', function () {
                filterProducts(1);
            });

            // Agregar evento a los enlaces de paginación
            $(document).on('click', '.page-link', function (e) {
                e.preventDefault();
                const page = $(this).attr('href').split('=')[1];
                filterProducts(page);
            });
        });

        function markCheckboxes(urlParams) {
            const filters = getAllFilters();
            filters.forEach(filter => {
                const values = urlParams.getAll(filter);
                values.forEach(value => {
                    $(`#${filter}-${value}`).prop('checked', true);
                });
            });
        }

        function filterProducts(page = 1) {
            const filters = getAllFilters();
            const filterValues = {};
            const sortOrder = $('#sortOrder').val();

            // Obtener los valores de los filtros seleccionados
            filters.forEach(filter => {
                filterValues[filter] = [];
                $(`input[id^="${filter}-"]:checked`).each(function () {
                    filterValues[filter].push($(this).val());
                });
            });

            
            // Construir la nueva URL
            let newUrl = '/store/mujer?page=' + page;
            Object.keys(filterValues).forEach(filter => {
                filterValues[filter].forEach(value => {
                    newUrl += `&${filter}=${value}`;
                });
            });

            // Agregar el parámetro de ordenamiento si existe
            if (sortOrder) {
                newUrl += `&sortOrder=${sortOrder}`;
            }

            // Actualizar la URL sin recargar la página
            history.pushState({}, '', newUrl);
            
            // Filtrar los productos
            $.ajax({
                url: newUrl,
                success: function (data) {
                    // Extraer solo la sección de productos
                    const productos = $(data).find('#productos').html();
                    $('#productos').html(productos);

                    // Mantener los checkboxes seleccionados
                    markCheckboxes(new URLSearchParams(newUrl));

                    // Actualizar la paginación
                    const pagination = $(data).find('.pagination').html();
                    $('.pagination').html(pagination);
                }
            });
        }
        

        function getAllFilters() {
            // Obtener todos los filtros disponibles
            const filters = [''];
            $('input[type="checkbox"]').each(function () {
                const id = $(this).attr('id');
                const parts = id.split('-');
                if (parts.length > 1) {
                    const filter = parts[0];
                    if (!filters.includes(filter)) {
                        filters.push(filter);
                    }
                }
            });
            return filters;
        }

        
    </script>

    <script>
        $('#sortOrder').on('change', function() {
            const sortOrder = $(this).val();
            console.log('Sort order changed:', sortOrder);
            sortProducts(sortOrder);
        });

        function sortProducts(sortOrder) {
            // Obtener la URL actual
            const currentUrl = window.location.href;

            // Obtener el parámetro de página actual
            const currentPage = new URLSearchParams(window.location.search).get('page') || 1;

            // Construir la nueva URL con el parámetro de ordenamiento y mantener otros parámetros
            let newUrl = currentUrl;
            if (sortOrder) {
                // Reemplazar o agregar el parámetro de ordenamiento
                if (currentUrl.includes('sortOrder')) {
                    newUrl = currentUrl.replace(/sortOrder=[^&]*/, `sortOrder=${sortOrder}`);
                } else {
                    // Agregar el parámetro de ordenamiento
                    if (currentUrl.includes('?')) {
                        newUrl += `&sortOrder=${sortOrder}`;
                    } else {
                        newUrl += `?sortOrder=${sortOrder}`;
                    }
                }
            }   
            console.log('New URL:', newUrl);
            // Actualizar la URL sin recargar la página
            history.pushState({}, '', newUrl);

            
            // Filtrar los productos
            $.ajax({
                url: newUrl,
                success: function (data) {
                    // Extraer solo la sección de productos
                    const productos = $(data).find('#productos').html();
                    $('#productos').html(productos);

                    // Mantener los checkboxes seleccionados
                    markCheckboxes(new URLSearchParams(newUrl));

                    // Actualizar la paginación
                    const pagination = $(data).find('.pagination').html();
                    $('.pagination').html(pagination);
                }
            });
            // Filtrar los productos manteniendo la página y otros parámetros
        }
    </script>

    <!-- <script>
        $(document).ready(function () {
            // Obtener los parámetros de la URL
            const urlParams = new URLSearchParams(window.location.search);
            const generos = urlParams.getAll('pf_t_genero');

            // Marcar los checkboxes según los parámetros de la URL
            generos.forEach(genero => {
                $(`#${genero}`).prop('checked', true);
            });

            // Filtrar los productos
            filterProducts(1);

            // Agregar evento a los checkboxes
            $('input[type="checkbox"]').on('change', function() {
                filterProducts(1);
            });
        });

        function filterProducts(page = 1) {
            const selectedGeneros = [];

            // Obtener los géneros seleccionados
            $('input[type="checkbox"]:checked').each(function() {
                selectedGeneros.push($(this).val());
            });

            // Construir la nueva URL
            let newUrl = '/shop?page=' + page;
            selectedGeneros.forEach(genero => {
                newUrl += `&pf_t_genero=${genero}`;
            });

            // Actualizar la URL sin recargar la página
            history.pushState({}, '', newUrl);

            // Filtrar los productos
            $.ajax({
                url: newUrl,
                success: function(data) {
                    // Extraer solo la sección de productos
                    const productos = $(data).find('#productos').html();
                    $('#productos').html(productos);

                    // Mantener los checkboxes seleccionados
                    selectedGeneros.forEach(genero => {
                        $(`#${genero}`).prop('checked', true);
                    });

                    // Actualizar la paginación
                    const pagination = $(data).find('.pagination').html();
                    $('.pagination').replace(pagination);
                }
            });
        }

            // Agregar evento a los enlaces de paginación
            $(document).on('click', '.page-link', function(e) {
                e.preventDefault();
                const page = $(this).attr('href').split('=')[1];
                filterProducts(page);
            });

    
    </script> -->

</body>

</html>